<div class="container__small-card">

    <div class="container__small-card-content">
      <div class="small-card__photo">
        <img
          src="https://townsquare.media/site/366/files/2020/08/GettyImages-113157476.jpg?w=780&q=75"
          alt=""
          srcset=""
        >
      </div>
  
      <div class="small-card__title">
        <h1><a>Ozzy is back to Portugal! </a></h1>
      </div>
    </div>
  
    <div class="container__small-card__separator">
      <hr>
    </div>
  
  </div>
